.game__board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-height: 500px;
}

#chess-board {
    width: 100%;
    height: auto;
}